!!!
%html
  %head
    %title VCR Remote Controller
  %body
    %h1 VCR Remote Controller
    %p
      -if cassette?
        Current cassette:
        %b #{current_cassette}
      -else
        No cassette in the VCR
    %hr
    %form{:method => "post"}
      %p
        %input{:name => "submit", :type => "submit", :value => cassette? ? "Eject and insert cassette" : "Insert cassette"}
        %input{:name => "submit", :type => "submit", :value => "Eject"}


      %p Select a cassettes:
      -cassettes.map do |cassette|
        -cassette_name = CGI::escapeHTML(cassette)
        -selected = current_cassette == cassette
        %p
          %label
            %input{:name => "cassette", :type => "radio", :value => cassette_name, :checked => selected || nil} #{cassette_name}

    -if cassette? and !(current_cassette_empty?)
      %p
        New recorded interactions
        %hr
        %pre
          %code
            #{ CGI::escapeHTML current_cassette_new_recorded_interactions }
